<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hermain Kazmi</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><img style="max-width:130px; margin-top: -50px;"src="static/images/logo.png"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio"><i class="fa fa-pencil"></i> Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about"><i class="fa fa-user"></i> About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact"><i class="fa fa-mobile"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="static/images/logo.png" alt="">
                    <div class="intro-text">
                        <span class="name">Hermain Kazmi</span>
                        <hr class="star-light">
                        <span class="skills">Product Designer - User Experience Designer - Mechanical Engineer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> Connector App </i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p1.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> ED Support Tool</i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p2.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> Dishwasher for Elderly</i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p3.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> UX: Coffee Shop</i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p4.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> UX: Home Cooking</i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p5.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> AFO Design Concept</i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p6.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> Opportunities in Fracking </i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p7.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> Spiral HX Design </i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p8.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-lg"> Value Stream Mapping </i>
                            </div>
                        </div>
                        <img src="static/images/portfolio/p9.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p align = "justify" > <font size="5">A cup of freshly brewed Cuban coffee, mind full of inspirational ideas and a canvas waiting to be explored, that’s me!
I am inspired by the personas, traditions and objects that surround me. Nothing motivates me more than solving puzzles that are yet to be solved. 
</font>
</p>
                </div>
                <div class="col-lg-4">
                    <p align = "justify"><font size="5">My work reflects my knowledge of human centred design. From designing a wallet at the age of 12 to designing applications for industrial use, my journey as a product designer has been full of learning experiences. 
Want to know more, hit the button below.</font></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="static/images/portfolio/Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Suite 2006, 30 Grand Trunk Crescent<br>Toronto, Ontario<br> Canada M5J3A4</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                           
                            <li>
                                <a href="https://ca.linkedin.com/in/hermain" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/hermain1/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
							<li>
                                <a href="https://twitter.com/hermaink" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Hermain Kazmi</h3>
                        <p> <i class="fa fa-phone fa-lg"> </i> 905-966-5252 <br>
						    <i class="fa fa-envelope fa-lg"> </i> hermain.kazmi@gmail.com
						</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Hermain Kazmi 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Connector App</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/c1.png" class="img-responsive img-centered" alt="">
                            <br>
							<h3>Initial Concept</h3>
							<br>
                            <p>Through stakeholder interviews, brainstorming and prototype testing, I helped the team in designing an app for contractors who wanted to complete projects safely, on schedule and in budget. The features explored in the wireframes included instant feedback and rating service, an excavation relevant educational module, calendar module and a module to request locate service. The layout was designed in a manner so that the app can be used in the excavation field as each feature is one click away. </p>
                            <br>
							<br>
							<br>
							<img src="static/images/portfolio/c2.png" class="img-responsive img-centered" alt="">
                            <br>
							<br>
							<br>
							<h3>Final Result</h3>
                            <br>
							<p>My team and correspondents from Union Gas worked together to define risks, schedule the development, identify the costs and prepare final layout. Linked with the ON1CALL website, now the contractors can see the locators associated with their project and give their feedback on their service. New features allow infrastructure owners to push messages on the live feed to connect with contractors across Ontario.</p>
                            <br>
							<h3>Journey Map</h3>
							<br>
							<img src="static/images/portfolio/c3.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<p>The details of the project can be seen in the <a href="https://docs.google.com/presentation/d/1Eo6UOCFk9QMO_3Xu3fRuqwghOOTr_730j88ZvPXReJU/edit?usp=sharing" target="_blank">Presentation</a></p>
                            <p>The functionality of the application can be tested in the <a href="https://invis.io/7V45P88EX" target="_blank">Prototype</a> </p>
                            <p>The summary of the project can be seen in the <a href="https://drive.google.com/file/d/0BxT_GRoz6gSaTFBDZS1rWlY5eXc/view?usp=sharing" target="_blank">Poster</a> </p>
							<br>
                            <br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>ED Support Tool</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/ed1.png" class="img-responsive img-centered" alt="">
                            <h3> About Eating Disorders </h3>
							<br>
							<p>Eating disorders are mental disorders which give individuals a false sense of being in control of their body image by controlling their food intake. They are not just about food. They are often a way to cope with difficult problems or regain a sense of control. With a large population experiencing symptoms and lack of support available, eating disorders have become a growing concern in Canada.</p>
                            <p> We worked with Rose McDonald, caregiver at Danielle’s Place, to understand the challenges faced by families having an eating disorder patient. She explained about the difficulties in finding support, disruption in family environments and unusual child growth. She identified the need of an online platform which can help connect families with each other and with caregivers. </p>
							<br>
							<h3> Concept/Journey Map </h3>
							<br>
							<br>
							<img src="static/images/portfolio/ed2.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<h3>Current Platform Prototype</h3>
							<br>
							<p>After extensive user experience testing, we designed an online platform that encourages parents to share their stories with other families and various caregivers. With a clean interface the parents will be able to access each feature instantly during emergency situations. They will be able to record the behavior of their children and transfer this history to a doctor so that more informed decision can be taken on a child’s progress on his/her road to recovery.</p>
							<br>
							<br>
							<img src="static/images/portfolio/ed3.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<img src="static/images/portfolio/ed4.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Dishwasher for elderly</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/d1.png" class="img-responsive img-centered" alt="">
                            <p>As an independent project I started investigating the challenges faced by elderly while operating current dishwashers. After several interviews and task analysis, I found that they struggle in bending, carrying dishes to the dishwasher and often forget using soap. Also placement and removal of dishes causes problem.</p>
                            <p>The dishwasher bot is a conceptual design of a dishwasher that targets the challenges described above.</p>
                            <br>
							<h3>Mind mapping</h3>
							<br>
							<br>
							<img src="static/images/portfolio/d2.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<h3>Storyboarding</h3>
							<br>
							<p>The dishwasher bot is essentially a small robot that can be controlled easily using a joystick. Using local wifi/bluetooth it can be brought closer to a user's position. To avoid the effort in bending to place the dishes, the dishwasher bot has been provided the ability to adjust it's height. By adding flexible water hose and wires this design can become a reality. A user's experience with dishwasher bot is sketched below.  
							<br>
							<br>
							<img src="static/images/portfolio/d3.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<h3>Physical Mockup</h3>
							<br>
							<br>
							<img src="static/images/portfolio/d4.png" style="width:550px;height:700px;">
							<br>
							<br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>UX: Coffee Shop</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/cf1.png" class="img-responsive img-centered" alt="">
                            <br>
							<p>I studied the experience of a customer when he/she goes for a coffee. For this purpose I used a personna of an average adult and identifed some of the key areas where improvements can be made. The entire design process is explained below.</p>
                            <br>
							<h3>Customer Journey Map</h3>
                            <br>
							<br>
							<img src="static/images/portfolio/cf2.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<h3>Analysis</h3>
							<br>
							<img src="static/images/portfolio/cf3.png" class="img-responsive img-centered" alt="">
							<br>
							<h3>Design Opportunities</h3>
							<br>
							<br>
							<img src="static/images/portfolio/cf4.png" class="img-responsive img-centered" alt="">
							<br>
							<p> Customizable environment can be created by the addition of variable intensity led lights on top of tables.  </p>
							<br>
							<img src="static/images/portfolio/cf5.png" class="img-responsive img-centered" alt="">
							<br>
							<p>The user can be provided a different experience if he/she is shown the process of making a coffee through an open kitchen concept. </p>
							<br>
							<br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>UX: Home Cooking</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/hc1.png" class="img-responsive img-centered" alt="">
                            <br>
							<p>There is something special about cooking. Everyday you learn more about flavors, techniques and elements associated with being in kitchen. While as a student you would be cooking bland budget tuna casseroles and soups, later on you will have a cullinary explosion in your mind and you will start chasing the perfect stake. We decided to study this user experience and identify opportunities of improvement in cooking at home.  </p>
                            <h3>Task Analysis</h3>
                            <br>
							<br>
							<img src="static/images/portfolio/hc2.png" class="img-responsive img-centered" alt="">
							<h3>Design Opportunities</h3>
							<br>
							<p> Reducing food waste and chances of burning, by using a tray built in a pot concept.</p>
							<br>
							<img src="static/images/portfolio/hc3.png" class="img-responsive img-centered" alt="">
							<p> Reducing the effort in dish placement, by redesigning shelves so that they are water penetrant.</p>
							<br>
							<img src="static/images/portfolio/hc4.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>AFO Design Concept</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/fb1.png" class="img-responsive img-centered" alt="">
                            <p>People experiencing foot drop often use an AFO brace that is worn on the lower leg and foot to support the ankle, hold the foot and ankle in the correct position and correct foot drop. While pursuing my master's program we worked with a client to understand the problems faced by patients using AFO braces. They identified the difficulties in storing it, carrying it to other places and mouting it on their ankles. Our aim was to reduce the size and weight of an AFO brace to make it portable and eliminate it's visibility from outside.   </p>
                            <h3>Prototypes created</h3>
                            <br>
							<p>Using everyday material, we created low budget prototypes to test their functionality. Each prototype was an improvement over the predecessor interms of reduced weight and improved functionality. Prototype 1 is designed to be worn over the shoe while prototype 2 provides similar funtion but can be hidden beneath the clothes. </p>
							<br>
							<br>
							<img src="static/images/portfolio/fb2.png" class="img-responsive img-centered" alt="">
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Opportunities in fracking</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/sf1.png" class="img-responsive img-centered" alt="">
                            <p>Representatives from Chemical Industy Association of Canada approached our team with a challenge of reducing the environmental damages caused by shale gas fracking process. They wanted us to identify areas that should be explored to acheive certain safety standards. Accepted as the best practice, we started our process by identifying and interviewing the stakeholders associated with fracking. These included extractors, consumers, community members and environmental protection agencies.  </p>
                            <p>The areas we identified as potential for exploration included water contamination and consumption by nearby communities, waste fracking fluid open decomposition and wasteage of water on each well. To illustrate them we sketched certain product ideas that can be fabricated.</p>
                            <br>
							<img src="static/images/portfolio/sf2.png" class="img-responsive img-centered" alt="">
							<br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Spiral Heat-exchanger design</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/sp1.png" class="img-responsive img-centered" alt="">
                            <br>
							<p> The present shell and tube heat exchangers require larger space and continuous maintenance to ensure efficient heat transfer. A spiral plate heat exchanger, on the other hand, provides similar heat transfer with minimum maintenance and construction cost. This project explores the design of a spiral plate heat exchanger for heating Palm oil using water in an oil refinery. </p> 
                            <br>
                            <p> The image below shows the exploded veiw of the spiral heat exchanger assembly. It consists of an outer shell that houses the spiral plates. This shell is covered at the ends using flanges and is supported on a frame. 
							<br>
							<img src="static/images/portfolio/sp2.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<p> The image below shows the passages that form due to the coiling of two steel plates around each other. These passages are then used for flowing a hot and colder fluid across each other. 
							<br>
							<br>
							<img src="static/images/portfolio/sp3.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
	<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Value Stream Mapping</h2>
                            <hr class="star-primary">
                            <br>
							<img src="static/images/portfolio/vsm1.png" class="img-responsive img-centered" alt="">
                            <br>
							<p>During the internship at Philip Morris I was given the task of identifying the flaws in the current work breakdown structure (WBS) and improving it by providing an alternative working methodology in the Production Planning Department. After numerous group sessions and interviews, I was able to provide a newer WBS eliminating bottlenecks and saving time. This allowed the team to focus on tasks that were being delayed.</p>
                            <br>
                            <hr>
							<h3> Current State Map </h3>
							<br>
							<br>
							<img src="static/images/portfolio/vsm2.png" class="img-responsive img-centered" alt="">
							<br>
							<hr>
							<br>
							<h3> Furture State Map </h3>
							<br>
							<br>
							<img src="static/images/portfolio/vsm3.png" class="img-responsive img-centered" alt="">
							<br>
							<br>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
	<!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/freelancer.js"></script>

</body>

</html>
